
.row
  .span4
    = form_tag cats_path, :method => 'get', :class => 'form-search well well-small', :autocomplete => 'on'  do
      = search_field_tag :name, params[:name], :placeholder => '찾고 싶은 카테고리', :class => 'search-query', :id => "category_name",  :rel => "popover",  "data-content" => "찾고 싶은 카테고리 이름을 써주세요. 자동완성 기능이 있기 때문에 Enter 키를 두번 누르셔야 합니다.", "data-original-title" => "카테고리 찾기" 
