- require 'feedzirra'
- feed = Feedzirra::Feed.fetch_and_parse("http://www.yonhapnews.co.kr/RSS/sokbo.xml")
- @entries_yh = feed.entries.first(3)
- feed = Feedzirra::Feed.fetch_and_parse("http://www.telam.com.ar/xml/rss/")
- @entries_tl = feed.entries.first(3)
.well#news
  .page-header
    %h1 
      뉴스
      %small 속보
  .accordion#accordion2
    - @entries_yh.each do |e|
      = render 'static_pages/newsfeed', :e => e
    - @entries_tl.each do |e|
      = render 'static_pages/newsfeed', :e => e
