.row
  .span10
    .category_title
      %span.gray14bold
        = @category.name
      %span.gray14light 카테고리
- unless @category.leaf?
  .row
    .span10
      .row
        .span12
          하위 카테고리
        .span1.vacio
          - @category.children.each do |c|
            .span3
              .gray14lightbullet
                = link_to c.name, static_pages_categories_path(:id => c.id)
                %span.descendants
                  = c.descendants_count
%p
- coms = Company.find_all_by_category_id(@category.id)
- unless coms.blank?
  .row
    .span10
      .row
        .span12
          회사
        .span1.vacio
          - coms.each do |com|
            .span3
              .gray14lightbullet
                = link_to com.name, company_path(com)
