- provide(:title, "회사정보")
.row.about_background
  .span12
    .row
      .span3.text1
        = image_tag("logo_330px.png")
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum orci non orci porta a condimentum mauris laoreet. Vivamus adipiscing laoreet varius. Phasellus vitae lectus eget sapien congue scelerisque. Sed eu nunc mi. Nunc libero lorem, viverra a posuere sed, tincidunt nec mauris. In gravida accumsan augue, non imperdiet mauris sollicitudin nec. Sed ac nibh a nulla volutpat bibendum vel a justo. Donec condimentum metus sed lacus tristique laoreet.
        %p
          Nullam eget gravida nisl. In eleifend sem a leo aliquet pretium. Praesent placerat sollicitudin imperdiet. Suspendisse placerat, urna et pellentesque lobortis, massa diam tristique nunc, sit amet commodo felis dui in dolor. Aliquam fringilla mi id tortor rutrum at iaculis diam accumsan. Phasellus condimentum rutrum faucibus. Curabitur rutrum ante in elit dignissim malesuada. In imperdiet augue id erat pellentesque ut rhoncus dui posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur at ipsum orci. Phasellus in mollis risus. Cras nisi erat, pretium a facilisis ac, hendrerit at tellus. Aenean convallis tincidunt commodo.
      .span1.textima
        = image_tag("barra.png")
      .span3.text2
        %p
          Nulla arcu augue, semper et commodo sed, ornare non erat. Nullam pellentesque, purus id vulputate suscipit, arcu metus vulputate eros, sed tincidunt augue arcu eget eros. Donec urna justo, interdum vel volutpat a, consequat id felis. Vestibulum interdum mollis tempor. Nam quis erat quis lectus facilisis consequat at ut sem. Maecenas a purus sit amet massa tincidunt mollis. Aenean venenatis pulvinar risus ac dictum. Sed tempor fringilla mauris, non consectetur velit faucibus eleifend. Integer iaculis augue nec nulla cursus ornare. Sed lacinia pharetra odio, quis semper sem imperdiet in. Maecenas ultricies ultrices mi id euismod. Nullam quam nisl, dapibus id volutpat sed, vestibulum at lacus. Sed sagittis, erat at vestibulum ultricies, ante tortor fringilla velit, vel consequat mi nunc ut nulla. Nullam metus ante, bibendum vel luctus sed, commodo non erat.

