.row
  = render 'layouts/messages'
  .span12
    .breadcrumb
      = ariane.render
  .span2
    .row.cat_list
      = render 'static_pages/cat_list'
  .span10
    .row
      = render 'static_pages/sing_cat'
