.row
  = render 'layouts/messages'
  .span12
    .row
      .slider-wrapper.theme-default
        #slider.nivoSlider
          %img{:src =>"/assets/foto1.png", "data-thumb"=>"/assets/foto1.png", :alt=>"Foto1"}
          %img{:src =>"/assets/foto2.png", "data-thumb"=>"/assets/foto2.png", :alt=>"Foto2"}
          %img{:src =>"/assets/foto3.png", "data-thumb"=>"/assets/foto3.png", :alt=>"foto3"}
.row
  .span12
    .row
      .span9
        = render 'static_pages/category_search'
        = render 'static_pages/topcat'
      .span3
        = render 'static_pages/side'
:javascript
  $(window).load(function() {
      $('#slider').nivoSlider({
                            effect:'random',
                            slices:15,
                            animSpeed:800,
                            pauseTime:3000,
                            directionNav:true, //Next & Prev
                            directionNavHide:true, //Only show on hover
                            controlNav:true, //1,2,3...
                            pauseOnHover:false, //Stop animation while hovering
                            captionOpacity:.7 //Universal caption opacity

      });
  });
