%h1 카테고리 
- @root = @category.root
- @categories_same_father = @root.descendants.nested_set.all
= sortable_tree @categories_same_father, :path => 'static_pages/tree/base', :title => :name, :js => true
