- cache("news_feed") do
  .well#news
    .page-header
      %h1 
        뉴스
        %small 속보
    %ul#newstab.nav.nav-pills
      %li.active
        %a{:href => "#yonhap", "data-toggle" => "pill"}
          한국
      %li
        %a{:href => "#telam", "data-toggle" => "pill"}
          Argentina
      %li
        %a{:href => "#weather", "data-toggle" => "pill"}
          날씨
    .pill-content.clearboth
      .pill-pane.fade.active.in#yonhap
        .accordion#accordion-yh
          - @entries_yh.each do |e|
            = render 'home/newsfeed', :e => e, :news => "yh"
      .pill-pane.fade#telam
        .accordion#accordion-tl
          - @entries_tl.each do |e|
            = render 'home/newsfeed', :e => e, :news => "tl"
      .pill-pane.fade#weather
        .accordion#pronostico
