.row
  .span3
    .row
      .span1
        초밥류
      .span2
        롤 초밥, 김초밥, 유부초밥, 생선초밥, 연어초밥, 새우초밥, 특초밥
    .row
      .span1
        튀김류
      .span2
        돈까스, 튀김
    .row
      .span1
        면류
      .span2
        우동, 튀김우동, 모밀국수
