.list-companies.well
  %table.table.table-bordered.table-stripe#companies_table{"data-source" => companies_url(format: "json")}
    %thead
      %tr
        %th 회사이름
        %th 주소
        %th 전화
        %th 핸드폰
        %th 카테고리
    %tbody
