/* mixins, variables, etc. */

@mixin text {
  margin-top:20px;
  margin-left: 25px;
  text-align: left;
  font-size: 0.8em;
  font-family: Arial, Helvetica, Sans-serif;
  color: black;
  text-align: justify;
}

@font-face {
  font-family: 'NanumGothic';
  src: url(asset-path('NanumGothic.eot?',font)) format('eot'), 
       url(asset-path('NanumGothic.woff',font)) format('woff'), 
       url(asset-path('NanumGothic.ttf',font))  format('truetype'),
       url(asset-path('NanumGothic.svg#NanumGothic',font)) format('svg');
}
@font-face {
  font-family: 'NanumGothicCoding';
  src: url(asset-path('NanumGothic_Coding.eot?',font)) format('eot'), 
       url(asset-path('NanumGothic_Coding.woff',font)) format('woff'), 
       url(asset-path('NanumGothic_Coding.ttf',font))  format('truetype'),
       url(asset-path('NanumGothic_Coding.svg#NanumGothic_Coding',font)) format('svg');
}
@font-face {
  font-family: 'NanumMyeongjo';
  src: url(asset-path('NanumMyeongjo.eot?',font)) format('eot'), 
       url(asset-path('NanumMyeongjo.woff',font)) format('woff'), 
       url(asset-path('NanumMyeongjo.ttf',font))  format('truetype'),
       url(asset-path('NanumMyeongjo.svg#NanumMyeongjo',font)) format('svg');
}

.category_separator {
	background-image: image-url("category%20space.png");
	background-repeat: no-repeat;
}
.gray14lightbullet {
	color: #222;
	background-image: image-url("bullet.png");
	background-repeat: no-repeat;
	background-position: left 5px;
	text-indent: 13px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 2px;
	float: left;
	height: 20px;
	margin-right: 5px;
}
.gray14light {
	color: #7F7F7F;
}
.gray10light {
	font-size: 0.70em;
	color: #7F7F7F;
}

.gray14bold {
	font-weight: bold;
	color: #7F7F7F;
}
.gray11bold {
	font-size: 0.82em;
	font-weight: bold;
	color: #7F7F7F;
}
ul.thumbnails {
  -webkit-border-radius: 6px;  
  -moz-border-radius: 6px;
  border-radius: 6px;
  li.span3 {
    display: inline;
    margin-bottom: 0px;
    .thumbnail60px {
      float: left;
      width: 60px;
      a {
        &:hover {
          text-decoration: none;
        }
        i.icon60 {
          opacity: .6;
          font-size: 50px;
          color: #fff;
          background-color: #282828;
          border-radius: 33px;
          -moz-border-radius: 33px;
          -webkit-border-radius: 33px;
          padding-top: 6px;
          position: relative;
          transition: background-color 0.3s ease-in-out 0.12s, transform 0.3s;
          -webkit-transition: background-color 0.3s ease-in-out 0.12s, -webkit-transform 0.3s;
          -moz-transition: background-color 0.3s ease-in-out 0.12s, -moz-transform 0.3s;
          -o-transition: background-color 0.3s ease-in-out 0.12s, -o-transform 0.3s;
          &:hover {
            opacity: .95;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            background-color: invert(#3992c1);
            @include box-shadow(rgba(0,0,0,0.5) 4px 4px 10px);
            z-index: 5;
          }
        }
      } 
    }
    .topcategory {
      float: left;
      width: 150px;
      padding-left: 10px;
      padding-top: 10px;
      p strong a {
        font-size: 1.02em;
        transition: font-size linear 0.3s;
        -webkit-transition: font-size linear 0.3s;
        -moz-transition: font-size linear 0.3s;
        -o-transition: font-size linear 0.3s;
        &:hover{
          font-size: 1.38em;
          color: white;
        }
      }
      .subcategories li {
        list-style: none;
        display: inline;
        a {
          font-size: 0.85em;
          -webkit-transition: font-weight 0.3s linear, font-size 0.3s linear;
          -moz-transition: font-weight 0.3s linear, font-size 0.3s linear;
          -o-transition: font-weight 0.3s linear, font-size 0.3s linear;
          &:hover {
            font-size: 1.1em;
            font-weight: bold;
            color: black;
          }
        }
      }
    }
  }
}
.thumbnail25px {
	height: 25px;
	width: 25px;
}
.thumbnail25pxbox {
	float: left;
	height: 35px;
	width: 140px;
}
.category_title {
	float: left;
	height: 30px;
	width: 95%;
  margin-top:20px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}
a {
  color: #000;
}
a:hover {
  color: #ff7930;
}
p {
  padding: 1px;
  margin: 0px;
}
ul, ol {
  margin: 0;
}
ul {
  display: inline;
}
.navbar-inner {
  background-color: #00a0e3;
}
.thumbnail {
  padding: 0px;
  margin-top: 10px;
  border: hidden;
}
.container .row .span12 .span3 .thumbnail li {
  display: inline;
  bottom: 0px;
  width: 100%;
}
.thumbnail > img {
  margin-left: auto;
}
footer {
  color: white;
  height: 28px;
  padding-top: 8px;
  background-color: #282828;
  font-size: 0.85em;
  #footer-logos {
    float: left;
    text-align: center;
    li {
      display: inline;
      img {
        height: 23px;
        width: 23px;
        border: none;                
        opacity: .25;                
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* IE 8 hack */
        filter: alpha(opacity = 25); /* IE 5-7 hack */
        -webkit-transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        &:hover {
          opacity: .6;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 hack */
          filter: alpha(opacity = 60); /* IE 5-7 hack */
        }
      }
    }
  }
  small {
    color: #fff;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px
    }
  }
  a {
    color: white;
    font-weight: bold;
    &:hover {
      color: #ff7930;
      text-decoration: none;
    }
  }
}
#wrap {
  margin-top: 100px;
}
.clearboth {
  clear: both;
}
.nomargin-left {
  margin-left: 0px;
}
.cat_list {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #686868;
}
.descendants {
  font-size: 0.8em;
}
#logo  {
  display: hidden;
  a {
    position: relative;
    top: 30px;
    left: 65px;
    display: none;
    text-indent: -9829px;
    background: image-url("logo_330px.png");
    width: 330px;
    height: 168px;
    background-repeat: no-repeat;
    z-index: 10;
    margin-bottom: -178px;
  }
}
.navbar .brand {
  text-indent: -9273px;
  background: image-url("logo_h30px.png");
  background-repeat: no-repeat;
  background-position: 30px 5px;
  width: 80px;
  padding-left: 30px;
}
.icon24 {
  font-size: 24px;
}
.icon240 {
  font-size: 240px;
}
.hero-carousel {
  float: right;
  width: 260px;
  height: 250px;
  margin-right: 20px;
  text-align: center;
  text-shadow: 2px 2px 3px #333;
}
#slide {
  float: right;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-control {
  top: 235px;
  border-width: 3px;
  width: 24px;
  height: 24px;
  font-size: 17px;
  line-height: 26px;
}
.tree{
  margin: 0;
  padding: 0;
  font-size: 16px;
  ol {
    list-style: none;
  }
  ol.nested_set {
    list-style: none;
    li {
      fonts-size: 0.9em;
      line-height: 150%;
      list-style-position: outside;
    }
  }
}
.tree {
  .btn-group {
    display: inline-block;
  }
}
.row.border {
  border-left: 1px dotted #333;   
  border-right: 1px dotted #333;  
  padding-right: 25px;   
}

.text1 p {
  @include text;
}


.text2 {
  p {
    margin-left: 25px;
    @include text;
  }
  h2 {
    margin-left: 25px;
    text-align: right;
  }
  h3 {
    text-align: right;
    margin-left: 25px;
  }
}
#about_logo {
  margin-left: 30px;
  width: 200px;
  height: 102px;
}

form.well {
  margin-bottom: 0px;
}

#news {
  border: 1px solid lighten(black, 70%);
}
#logo-phone{
  margin-bottom: 10px;
}
.row.companies-list {
  margin-bottom: 50px;
}
.arbol.btn-group{
  display: inline-block;
  ol.nested_set{
    list-style: none;
    li {
      line-height: 150%;
      list-style-position: outside;
      margin-top: 10px;
      font-size: 1.08em;
    }
  }
}
.breadcrumb {
  font-size: .9em;
}
.single-category section a:hover {
  color:white;
}
