@font-face {
  font-family: 'NanumGothic';
  src: url(asset-path('NanumGothic.eot?',font)) format('eot'), 
       url(asset-path('NanumGothic.woff',font)) format('woff'), 
       url(asset-path('NanumGothic.ttf',font))  format('truetype'),
       url(asset-path('NanumGothic.svg#NanumGothic',font)) format('svg');
}
@font-face {
  font-family: 'NanumGothicCoding';
  src: url(asset-path('NanumGothic_Coding.eot?',font)) format('eot'), 
       url(asset-path('NanumGothic_Coding.woff',font)) format('woff'), 
       url(asset-path('NanumGothic_Coding.ttf',font))  format('truetype'),
       url(asset-path('NanumGothic_Coding.svg#NanumGothic_Coding',font)) format('svg');
}
@font-face {
  font-family: 'NanumMyeongjo';
  src: url(asset-path('NanumMyeongjo.eot?',font)) format('eot'), 
       url(asset-path('NanumMyeongjo.woff',font)) format('woff'), 
       url(asset-path('NanumMyeongjo.ttf',font))  format('truetype'),
       url(asset-path('NanumMyeongjo.svg#NanumMyeongjo',font)) format('svg');
}


/* { 
  margin: 0; 
  padding: 0; 
}*/
.category_separator {
	background-image: image-url("category%20space.png");
	background-repeat: no-repeat;
}
.gray14lightbullet {
	color: #7F7F7F;
	background-image: image-url("bullet.png");
	background-repeat: no-repeat;
	background-position: left 5px;
	text-indent: 13px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #7F7F7F;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 2px;
	float: left;
	height: 20px;
	margin-right: 5px;
}
.gray14light {
	color: #7F7F7F;
}
.gray10light {
	font-size: 0.70em;
	color: #7F7F7F;
}

.gray14bold {
	font-weight: bold;
	color: #7F7F7F;
}
.gray11bold {
	font-size: 0.82em;
	font-weight: bold;
	color: #7F7F7F;
}
.thumbnail60px {
	float: left;
	height: 60px;
	width: 60px;
}
.topcategory {
	float: left;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
}
.breadbox {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 10px;
}
.thumbnail25px {
	height: 25px;
	width: 25px;
}
.thumbnail25pxbox {
	float: left;
	height: 35px;
	width: 140px;
}
.category_title {
	float: left;
	height: 30px;
	width: 95%;
  margin-top:20px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0099ff;
}
a {
  color: #000;
}
a:hover {
  color: #ff7930;
}
p {
  padding: 1px;
  margin: 0px;
}
ul, ol {
  margin: 0;
}
ul {
  display: inline;
}
.navbar-inner {
  background-color: #00a0e3;
}
.modal-footer {
  background-color: #000;
}
.thumbnails > li {
  display: inline;
}
.thumbnail {
  padding: 0px;
  margin-top: 10px;
  border: hidden;
}
.container .row .span12 .span3 .thumbnail li {
  display: inline;
  bottom: 0px;
  width: 100%;
}
.thumbnail > img {
  margin-left: auto;
}
footer {
  height: 28px;
  padding-top: 8px;
  background-color: #00a0e3;
  font-size: 0.85em;
  small {
    color: #fff;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px
    }
  }
  a {
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
#wrap {
  margin-top: 100px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .span3news {
    width: 154px;
    margin-left: 0px;
  }
  .span2-5 {
    width: 135px;
  }
}
@media (min-width: 1200px) {
  .span3news {
    width: 258px;
    margin-left: 0px;
  }
  .span2-5 {
    .width: 220px;
  }
  .span2list {
    width: 168px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #09c;
  }
}
@media (max-width: 979px) {
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a{
    color: #000;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #888;
  }
}
.blue {
  font-size: 14px;
  color: #FFF;
  background-color: #00a0e3;
  text-align: left;
  vertical-align: middle;
  height: 20px;
  width: 100px;
  padding-left: 8px;
  float: left;
}
.orange {
  font-size: 14px;
  color: #FFF;
  background-color: #ff6410;
  text-align: left;
  vertical-align: middle;
  height: 20px;
  width: 100px;
  padding-left: 8px;
  float: left;
}
.breadlinkimg {
  background-image: image-url("category%20space.png");
  float: left;
  height: 20px;
  width: 20px;
}
.span3news {
  width: 208px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00a0e3;
  padding-left: 10px;
  margin-left: 0px;
}
.span2-5 {
  width: 180px;
}
.span2list {
  width: 138px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #09c;
}
.clearboth {
  clear: both;
}
.nomargin-left {
  margin-left: 0px;
}
.subcategories li {
  list-style: none;
  display: inline;
  a {
    font-size: 0.85em;
  }
}
.topcategory p strong a {
  font-size: 1.02em;
}
.cat_list {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #09c;
}
.descendants {
  font-size: 0.8em;
}
#logo a {
  display: block;
  text-indent: -9829px;
  background: image-url("logo_330px.png");
  width: 330px;
  height: 168px;
  background-repeat: no-repeat;
}
.thumbnails li {
  margin-bottom: 0px;
}
.navbar .brand {
  text-indent: -9273px;
  background: image-url("logo_H30px.png");
  background-repeat: no-repeat;
  background-position: 30px 5px;
  width: 80px;
  padding-left: 30px;
}
.icon60 {
  font-size: 50px;
  color: #fff;
  background-color: #3992c1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.icon24 {
  font-size: 24px;
}
.icon240 {
  font-size: 240px;
}
.hero-carousel {
  float: right;
  width: 260px;
  height: 250px;
  margin-right: 20px;
  text-align: center;
  text-shadow: 2px 2px 3px #333;
}
#slide {
  float: right;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-control {
  top: 235px;
  border-width: 2px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
}
.thumbnail60px a:hover {
  text-decoration: none;
} 
.tree{
  margin: 0;
  padding: 0;
  font-size: 16px;
  ol {
    list-style: none;
  }
  ol.nested_set {
    list-style: none;
    li {
      fonts-size: 0.9em;
      line-height: 150%;
      list-style-position: outside;
    }
  }
}
.tree {
  .btn-group {
    display: inline-block;
  }
}
.ui-autocomplete {
  max-height: 80px;
  overflow-y: auto;
  padding-right: 20px;
  position: absolute; 
  cursor: default;
}
.thumbnail60px a i.icon60 {
  padding-top: 6px;
}
.about_background {
  background-position:-50px -75px;
  background-image: url(asset-path("about_background.png", image));
  background-repeat: no-repeat;
}
.text1 {
  margin-top: 10px;
  border-left: 3px dotted #f1f1f1;
  padding-left: 30px;
  p {
    margin-top:20px;
    text-align: left;
    font-size:14px;
    font-family: Arial, Helvetica, Sans-serif;
    color: black;
  }
}


.text2 p {
  margin-top:230px;
  margin-left:-25px;
  text-align: left;
  font-size:14px;
  font-family: Arial, Helvetica, Sans-serif;
  color: black;
}

.textima {
  margin-top:50px;
}
