.row
  .span9.offset1
    = gmaps("map_options" => { :language => "ko", :hl => "ko", :region => "ar",
      "mapTypeControl" => false, "maxZoom" => 15, "zoom" => 12},
      "markers" => {"data" => @json})
