- provide(:title, '톱 카테고리')
.row
  = render 'layouts/messages'
  = render 'layouts/breadcrumbs'
  = render 'categories/catside'
  .span10
    .row
      .span10
        - cat_root = Category.roots
        %section#categories
          .row
            .span10.category_title.lead 톱 카테고리
          .row
            .span9.offset1
              .row
                - cat_root.each do |c|
                  = render 'categories/descendants', :c => c
