%footer
  .container
    %small Copyright &copy; 2012 Argentina Hanin Network &reg;
    %nav
      %ul
        %li
          = link_to "회사소개", about_path
        %li
          = link_to "Contact us", contact_path
